{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block content %}
<main class="container mx-auto my-5">
    <h2 class="text-center text-capitalize my-3">review {{ product.name }}</h2>
    <div class="mx-auto text-center my-3">
        {% if product.image %}
            <a href="{% url 'product_detail' product.id %}" class="text-center mx-auto">
                <img class="img-max" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        {% else %}
            <a href="{% url 'product_detail' product.id %}">
                <img <img class="img-max" src="{{ MEDIA_URL }}noimage.png" alt="No image available for {{ product.name }}" class="mx-auto my-3">
            </a>
        {% endif %}
    </div>

    <form id="review-form" class="mx-auto" action="{% url 'add_review' product.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.title|as_crispy_field }}
        {{ review_form.content|as_crispy_field }}
        {{ review_form.rating|as_crispy_field }}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="user_id" value="{{ user.id }}">

        <div class="text-right">
            <button type="submit" class="btn btn-success text-light text-uppercase">Submit Review</button>
        </div>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">                                   
    </form>
</main>
{% endblock  %}
