{% load cart_subtotal_tool %}

<div class="table-responsive rounded p-0">

    <table class="table table-sm table-borderless">

        <caption class="sr-only">Current items in your cart</caption>

        <thead class="text-center bg-black text-light  w-100">
            <tr class="d-none d-md-table-row">
                <th scope="col" colspan="2" class="text-left pl-2">Product Info</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>

        <tbody>

            {% for item in cart_contents %}

                <tr>

                    <td class="p-3 w-25">

                        {% if item.product.image %}

                            <a  href="{{ item.product.image.url }}" aria-label="opens product image in a new tab" target="_blank">
                                <img class="img-fluid rounded-0" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </a>

                        {% else %}

                            <a href="">
                                <img src="{{ MEDIA_URL }}noimage.png" alt="No image available for {{ item.product.name }}" class="img-fluid mt-0">
                            </a>

                        {% endif %}

                    </td>

                    <td class="py-3">

                        <p class="my-0"><a href="{% url 'product_detail' item.product.slug%}"><strong>{{ item.product.name }}</strong></a></p>
                        <p class="my-0 small text-muted d-none d-md-block">SKU: {{ item.product.sku|upper }}</p>
                    
                    </td>

                    <td class="py-3 text-center">

                        <p class="my-0">€{{ item.product.price }}</p>

                    </td>

                    <td class="d-none d-md-table-cell">

                        <form action="{% url 'edit_cart' item.product.id %}" class="form update-qty-form pt-3 mx-auto" method="POST">
                            
                            {% csrf_token %}
                            
                            <div class="input-group input-group-{{item.product.id}}">

                                <div class="input-group-prepend">
                                    
                                    <button class="btn btn-danger btn-sm rounded-left border border-dark py-1 px-2 decrease-qty decrease-qty-{{ item.product.id }}" data-product-id="{{ item.product.id}}" aria-label="Decrease current quantity">
                                        <span>
                                            <i class="fas fa-minus fa-lg"></i>
                                        </span>
                                    </button>
                                
                                </div>
                                
                                <input type="number" name="quantity" class="form-control form-control-sm border border-dark qty-input current-qty-pid-{{ item.product.id }}" value="{{item.quantity}}" min="1" max="{{ item.product.stock_level }}" data-product-id="{{ item.product.id }}" aria-label="current quantity in cart is {{item.quantity}} enter new value if required and click update button.">
                                
                                <div class="input-group-append">
                                    
                                    <button class="btn btn-success btn-sm rounded-right border border-dark py-1 px-2 increase-qty increase-qty-{{ item.product.id }}" data-product-id="{{ item.product.id}}" aria-label="Increase current quantity">
                                        <span>
                                            <i class="fas fa-plus fa-lg"></i>
                                        </span>
                                    
                                    </button>
                                
                                </div>
                            
                            </div>
                            
                            <div>
                                <button type="submit" class="text-blue btn btn-outline-primary btn-sm btn-block mt-2">Update Qty</button>
                            </div>

                        </form>
                    </td>

                    <td class="py-3 text-center">
                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>

                    <td class="py-3 d-flex align-items-center justify-content-center">
                        <a data-remove-id="{{ item.product.id }}" class="delete-btn btn-sm btn-danger"><i class="fa-solid fa-trash-can fa-lg"></i></a>
                    </td>

                </tr>

                <!-- Quantity slector form for smaller screens -->
                <tr class="d-md-none">

                    <td colspan="6" class="py-3">

                        <form action="{% url 'edit_cart' item.product.id %}" class="form update-qty-form" method="POST">
                            
                            {% csrf_token %}
                            <div class="text-center">
                                <label for="quantity-input-{{item.product.id}}">Qty:</label>
                            </div>
                            
                            <div class="input-group input-group-{{item.product.id}}">
                            
                                <div class="input-group-prepend">
                            
                                    <button class="btn btn-danger btn-sm rounded-left border border-dark decrease-qty decrease-qty-{{ item.product.id }}" data-product-id="{{ item.product.id}}" aria-label="Decrease current quantity">
                                        <span>
                                            <i class="fas fa-minus fa-lg"></i>
                                        </span>
                            
                                    </button>
                            
                                </div>
                                
                                <input id="quantity-input-{{item.product.id}}"  type="number" name="quantity" class="form-control border border-dark qty-input current-qty-pid-{{ item.product.id }}" value="{{ item.quantity }}" min="1" max="{{ item.product.stock_level }}" data-product-id="{{ item.product.id }}" aria-label="current quantity in cart is {{item.quantity}} enter new value if required and click update button.">
                                
                                <div class="input-group-append">
                                    
                                    <button class="btn btn-sm btn-success rounded-right border border-dark increase-qty increase-qty-{{ item.product.id }}" data-product-id="{{ item.product.id }}" aria-label="Increase current quantity">
                                        <span>
                                            <i class="fas fa-plus fa-lg"></i>
                                        </span>
                                    
                                    </button>
                                
                                </div>
                                
                            </div>
                            
                            <div>
                                <button type="submit" class="text-blue btn btn-outline-primary btn-sm btn-block mt-2">Update Qty</button>
                            </div>

                        </form>

                    </td>

                </tr>

                <tr class="w-100">
                    <td colspan="6">
                        <hr class="w-100">
                    </td>
                </tr>                            

            {% endfor %}
            <tr>
                <td colspan="6" class="pt-5 text-right">

                    <p><strong>Total: €{{ cart_total|floatformat:2 }}</strong></p>
                    <p>Shipping: €{{ shipping|floatformat:2 }}</p>
                    <p class="sub-heading"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></p>

                    {% if free_shipping_delta > 0 %}

                        <p class="mb-1 text-danger">
                            Spend just <strong>€{{ free_shipping_delta }}</strong> more for free delievery!
                        </p>

                    {% endif %}

                </td>
            </tr>

            <tr class="mt-3">
                <td colspan="6" id="checkout-access" class="text-right">

                    <a href="{% url 'products' %}" class="btn btn-lg btn-outline-dark px-4 mt-3">
                        <span>
                            <i class="fas fa-chevron-left fa-sm"></i>
                        </span>
                        <span class="text-uppercase mx-3">Shop for more</span>
                    </a>

                    <a href="{% url 'checkout' %}" class="btn btn-lg btn-warning border border-dark px-4 ml-3 mt-3">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span>
                            <i class="fas fa-lock fa-sm"></i>
                        </span>
                    </a>

                </td>
            </tr>

        <tbody>
    </table>
    
</div>