{% extends 'base.html' %}

{% block content %}
    <section class="hero-image-container bg-black  border-bottom border-danger">
        <div class="hero-animation index-hero-image mx-auto">
        </div>
        
    </section>
    <main class="container-fluid no-gutters mx-auto">

        <div class="row mx-auto mt-3">
            <div class="col-sm-6">
                <div class="card shadow p-3 mx-auto my-3 rounded w-100">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=vaping_devices" class="dropdown-item">Vaping Devices</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow p-3 mx-auto my-3 rounded w-100 ">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=e_liquids" class="dropdown-item">E-liquids</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-auto mb-3 mt-sm-2">
            <div class="col-sm-6">
                <div class="card shadow p-3 mx-auto my-3 rounded w-100">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=tanks_and_coils" class="dropdown-item">Tanks and coils</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow p-3 mx-auto my-3 rounded w-100">
                    <div class="card-body">
                        <a href="{% url 'products' %}?category=batteries_and_accessories" class="dropdown-item">Batteries and Accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}