<select id="sorting-menu" class="custom-select custom-select-sm w-50" aria-label="sort products by slector">
    
    <option value="default" {% if current_ordering == 'None_None' %}selected{% endif %}>Sort products by...</option>
    <option value="name" {% if current_ordering == 'name' %}selected{% endif %}>Name (A to Z)</option>
    <option value="-name" {% if current_ordering == '-name' %}selected{% endif %}>Name (Z to A)</option>
    <option value="price" {% if current_ordering == 'price' %}selected{% endif %}>Price (low to high)</option>
    <option value="-price" {% if current_ordering == '-price' %}selected{% endif %}>Price (high to low)</option>
    <option value="current_rating" {% if current_ordering == 'current_rating' %}selected{% endif %}>Rating (low to high)</option>
    <option value="-current_rating" {% if current_ordering == '-current_rating' %}selected{% endif %}>Rating (high to low)</option>

</select>