{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block head_title %}- {{profile.user.username}}'s Profile Page{% endblock %}

{% block content %}
<main class="container my-3">

    <div class="row">

        <div class="col">

            <h1 class="text-center py-3 border-bottom">My Account</h1>

        </div>
    </div>

    <div class="row mx-auto no-gutters">

        <div class="col">

            <nav>

                <div class="nav nav-pills d-flex justify-content-center bg-black border border-dark" id="nav-tab" role="tablist">

                    <button class="nav-link active btn-danger rounded-0" id="nav-personal-info-tab" data-toggle="tab" data-target="#nav-personal-info" type="button" role="tab" aria-controls="nav-personal-info" aria-selected="true">Personal Info</button>
                    <button class="nav-link btn-danger rounded-0" id="nav-order-history-tab" data-toggle="tab" data-target="#nav-order-history" type="button" role="tab" aria-controls="nav-order-history" aria-selected="false">Order History</button>

                </div>

            </nav>

            <div class="tab-content p-5 border border-dark mb-3" id="nav-tabContent">

                <section class="tab-pane fade show active" id="nav-personal-info" role="tabpanel" aria-labelledby="nav-personal-info-tab">

                    <h2 class="font-weight-bold sub-heading pb-2">Default Delivery Details:</h2>

                    <form action="{%url 'profile'%}" method="post">
                        
                        {% csrf_token %}
                        {{details_form|crispy}}

                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-warning border border-dark px-5 ml-3 mt-3">Update details</button>
                        </div>

                        <p class="small text-danger my-2 text-center">

                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Warning by clicking "Update Details" your informartion will be over written</span>

                        </p>

                        <p class="small my-2 text-center">
                            * Kindly note the above is for deleivery only and will not affect the email attached to you account. The current email attached to your account is {{ profile.user.email }} Should you wish to change your default account email the please 
                            <a href="{% url 'contact_us' %}" aria-label="contact us">
                                Contact Us
                            </a>
                        </p>
                        
                    </form>

                </section>

                <section class="tab-pane fade" id="nav-order-history" role="tabpanel" aria-labelledby="nav-order-history-tab">

                    <h2 class="font-weight-bold sub-heading pb-2">Order History:</h2>

                    <div class="completed-orders table-responsive">

                        <table class="table table-sm table-borderless">

                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for order in completed_orders %}
                                
                                    <tr>
                                        <td>
                                            <a href="{% url 'completed_orders' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        
                                        <td>{{ order.date }}</td>
                                        
                                        <td>
                                            <ul class="list-unstyled">

                                                {% for item in order.lineitems.all %}

                                                    <li class="small">
                                                        {{ item.product.name }} x {{ item.quantity }}
                                                    </li>

                                                    <li>
                                                        <small class="text-muted">
                                                           @ €{{ item.product.price }} per item
                                                        </small>
                                                    </li>

                                                {% endfor %}
                                            </ul>
                                        </td>

                                        <td>€{{ order.grand_total }}</td>

                                    </tr>

                                {% endfor %}
                            
                            </tbody>

                        </table>
                    </div>

                </section>

            </div>

        </div>

    </div>
    
</main>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script src="{% static 'profiles/js/countryfield.js' %}"></script>

{% endblock %}



