{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
<main class="container">
    <div class="row">
        <div class="col">
            <p class="border-bottom mt-3 pb-3">Thank you for shopping with us, the below confirmation will be sent to {{ order.email }}.</p>
            <h2 class="text-left border-bottom mt-0 pb-3">Order Confirmation</h2>
        </div>
    </div>
    <div class="row border-bottom mb-3 pb-3">
        <div class="col-6">
            <p class="text-left">Order Reference:</p>
        </div>
        <div class="col-6 text-center">{{ order.order_number }}</div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-left mt-0 pb-3">Order Summary</h3>
        </div>
    </div>
</main>

{% endblock %}


