{% extends 'base.html' %}
{% load static %}
{% load cart_subtotal_tool %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block head_title %}- Checkout Success{% endblock %}

{% block content %}
<main class="container my-3">

    <div class="row">

        <div class="col">

            <p>Thank you for shopping with us, the below confirmation will be sent to {{ order.email }}.</p>
            <h2 class="text-left border-bottom border-top mt-0 py-3 mb-4 text-uppercase">Order Confirmation</h2>

        </div>
    </div>

    <div class="row">

        <!-- details of the order created automatically -->
        <div class="col-12 col-sm-6 text-left">
            <p class="mb-1">Order Reference:</p>
        </div>

        <div class="col-12 col-sm-6 text-center text-sm-right">

            <p class="mb-1">{{ order.order_number }}</p>

        </div>

    </div>

    <div class="row">

        <div class="col-12 col-sm-6 text-left">

            <p class="mb-1">Time of Purchase:</p>

        </div>

        <div class="col-12 col-sm-6 text-center text-sm-right">

            <p class="mb-1">{{ order.date }}</p>

        </div>

    </div>

    <div class="row">

        <div class="col-12 col-sm-6 text-left">
            <p class="mb-1">Curent status:</p>
        </div>

        <div class="col-12 col-sm-6 text-center text-sm-right">
            <p class="mb-1">{{ order.order_status }}</p>
        </div>

    </div>

    <div class="row border-top  mt-2">
        
        <div class="col-12">
            <h3 class="text-left mt-2 pb-3">Order Summary:</h3>
        </div>

    </div>

    <!-- Order items -->
    {% for ordered_product in order.lineitems.all %}

        <div class="row">

            <div class="col-2 my-2">

                <a href="{% url 'product_detail' ordered_product.product.slug %}" aria-label=" image of {{ ordered_product.product.name }}">

                    {% if ordered_product.product.image %}

                        <img class="w-100" src="{{ ordered_product.product.image.url }}" alt="image of {{ ordered_product.product.name }}">

                    {% else %}

                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="No image available for {{ ordered_product.product.name }}">

                    {% endif %}

                </a>

            </div>

            <div class="col-7">

                <p class="my-2 font-weight-bold">{{ ordered_product.product.name }}</p>

                <p class="my-2 small text-muted">Qty: {{ ordered_product.quantity }}</p>

                <p class="small text-muted">@ €{{ ordered_product.product.price }} each</p>

            </div>

            <div class="col-3 text-right">

                <p class="my-2 small">€{{ ordered_product.product.price | calc_subtotal:ordered_product.quantity }}</p>

            </div>

        </div>

    {% endfor %}

    <!-- Order totals -->
    <div class="row text-right border-top pt-3">

        <div class="col-8">Order Total:</div>
        <div class="col-4">€{{ order.order_total }}</div>

    </div>

    <div class="row text-right">

        <div class="col-8">Shipping Method:</div>
        <div class="col-4">{{ order.shipping_method }}</div>

    </div>

    <div class="row text-right">

        <div class="col-8">Shipping Charge:</div>
        <div class="col-4">€{{ order.shipping_cost }}</div>

    </div>

    <div class="row text-right border-bottom pb-3">

        <div class="col-8">Grand Total:</div>
        <div class="col-4">€{{ order.grand_total }}</div>

    </div>

    <div class="row mt-3">

        <div class="col-12">

            <h3 class="text-left mt-2 pb-3">Shipping Details:</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <p class="mb-1">{{ order.full_name }}</p>

            <p class="mb-1">{{ order.street_address1 }}</p>

            {% if order.street_address2 %}

                <p class="mb-1">{{ order.street_address2 }}</p>

            {% endif %}

            <p class="mb-1">{{ order.town_or_city }}</p>

            {% if order.county %}

                <p class="mb-1">{{ order.county }}</p>

            {% endif %}

            {% if order.postcode %}

                <p class="mb-1">{{ order.postcode }}</p>

            {% endif %}

            <p class="mb-1">{{ order.country }}</p>
            <p class="mb-1">{{ order.phone_number }}</p>

        </div>

    </div>

    <div class="row text-right my-3">

        <div class="col-12">

            {% if from_profile %}

                <a href="{% url 'profile' %}" class="btn btn-success">Back to Profile</a>

            {% else %}

                <a href="{% url 'home' %}" class="btn btn-secondary my-1">

                    <span>
                        <i class="fas fa-chevron-left fa-sm"></i>
                    </span>

                    <span class="font-weight-bold">Back to Home</span>

                </a>

                <a href="{% url 'products' %}?clearance" class="btn btn-success my-1">

                    <span class="font-weight-bold">Special Offers</span>

                </a>

            {% endif %}

        </div>

    </div>

</main>

{% endblock %}


