<footer class="container-fuild border-top-red bg-black text-light">

    <div class="row pb-0 no-gutters">

        <div class="col-md-4 text-center p-2 order-3 order-md-1">

            <h3 class="text-uppercase sub-heading mt-3">Find Us On</h3>

            <ul class="list-inline my-3 mt-sm-2">

                <li class="list-inline-item social-icon">
                    <a href="https://www.facebook.com/people/Vapor-Town/100087760702549/" aria-label="Check out our facebook page" rel="noopener nofollow" target="_blank">
                        <i class="fa-brands fa-square-facebook fa-lg text-light"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>

            </ul>

        </div>

        <div class="col-md-4 text-center p-1 order-1 order-md-2">

            <!-- Begin Mailchimp Signup Form -->
            <div class="mx-auto bg-black p-0">

                <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=a223762e88a0ce48e000b2e89&amp;id=eb134c824d&amp;f_id=005ac5e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate w-100" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        
                        <h3 class="sub-heading text-uppercase my-3">Newsletter</h3>
                        <p class="text-left">Get exclusive deals straight to your inbox</p>
                        
                        <div class="mc-field-group">

                            <label class="text-left w-100" for="mce-EMAIL">
                                Email Address  <span class="asterisk">*</span>
                            </label>

                            <input type="email" value="" name="EMAIL" class="required email w-100" id="mce-EMAIL" required>
                            
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text hidden"></span>
                        
                        </div>
                        
                        <div class="indicates-required text-center my-1"><span class="asterisk">*</span> Indicates Required</div>

                        <div id="mce-responses" class="clear foot">
                            <div class="response text-danger" id="mce-error-response" style="display:none"></div>
                            <div class="response text-success" id="mce-success-response" style="display:none"></div>
                        </div>    
                        
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_a223762e88a0ce48e000b2e89_eb134c824d" tabindex="-1" value="">
                        </div>

                        <div class="optionalParent mx-auto">

                            <div class="clear foot">

                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-lg px-5 mx-auto">
                                <p class="brandingLogo mt-3"><a href="http://eepurl.com/ieaoWP" title="Mailchimp - email marketing made easy and fun" rel="noopener nofollow" target="_blank" aria-label="This form will take you to mailchimp.com in a new tab"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_light_dtp.svg" alt="Mailchimp logo"></a></p>
                            
                            </div>

                        </div>

                    </div>

                </form>

            </div>
            <!--End mc_embed_signup-->
        </div>

        <div class="col-md-4 text-center p-2 order-3 order-md-3">

            <h3 class="text-uppercase sub-heading my-3">Site Map</h3>

            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">

                        <li><h4 class="site-map-heading">The Vaping Crew</h4></li>

                        <li class="my-3"><a href="{% url 'contact_us' %}" class="text-light py-3">Contact Us</a></li>
                        <li class="my-3"><a href="{% url 'home' %}" class="text-light py-3">Home</a></li>
                        <li class="my-3"><a href="{% url 'products' %}" class="text-light py-3">All Products</a></li>
                        
                        <li><h4 class="site-map-heading">Hardware</h4></li>
                        
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=mod" class="text-light py-3">Mods</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=disposable" class="text-light py-3">Disposables</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=tank" class="text-light py-3">Tanks</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=coil" class="text-light py-3">Coils</a></li>
                        
                        <li><h4 class="site-map-heading">Accessories</h4></li>
                        
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=battery,accessory" class="text-light py-3">Accessories</a></li>
                        
                        <li><h4 class="site-map-heading">Deals and Offers</h4></li>
                        
                        <li class="my-3"><a href="{% url 'products' %}?clearance" class="text-light py-3">* Special Offers *</a></li>
                        
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">

                        <li><h4 class="site-map-heading">Vape Juice</h4></li>

                        <li class="my-3"><a href="{% url 'products' %}?subcategory=vapejuice" class="text-light py-3">Pre-mixed</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=baseliquid" class="text-light py-3">Base Liquids</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=concentrate" class="text-light py-3">Flavour concentrates</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?subcategory=nicotine" class="text-light py-3">Nicotine</a></li>
                        
                        <li class="my-3"><h4 class="site-map-heading">Category Groupings</h4></li>    
                        
                        <li class="my-3"><a href="{% url 'products' %}?category=e_liquids" class="text-light p class="my-3"y-3">E-liquids</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?category=vaping_devices" class="text-light py-3">Vaping Devices</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?category=tanks_and_coils" class="text-light py-3">Tanks and Coils</a></li>
                        <li class="my-3"><a href="{% url 'products' %}?category=batteries_and_accessories" class="text-light py-3">Batteries and Accessories</a></li>
                        
                    </ul>
                </div>
            </div>

        </div>

    </div>
    
    <div class="text-center bg-black pt-2">

        <p class="small mb-1">*This site was made purely for assesment purposes and is not a real e-commerce webpage</p>
        <p class="small">
            &copy; 2022 DNLBowers
        </p>

    </div>
    
</footer>