<footer class="container-fuild mt-auto border-top border-danger bg-black text-light">
    <div class="row no-gutters">

        <div class="col-sm-4 text-center footer-section p-2">
            <h5 class="text-capitalise">Find Us on Social Media</h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/dnlbowers/" aria-label="Check out my profile on linkedin" rel="noopener" target="_blank">
                        <i class="fab fa-linkedin-in fa-lg text-light"></i>
                        <span class="sr-only">Linked In</span>
                    </a>
                {% comment %} </li>
                <li class="list-inline-item"> {% endcomment %}
                    <a href="https://github.com/dnlbowers" aria-label="Check out my profile on github" rel="noopener" target="_blank">
                    <i class="fab fa-github fa-lg text-light"></i>
                    <span class="sr-only">Github</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 text-center footer-section p-2">
            <h5 class="text-capitalise">Newsletter</h5>
            <p class="inline-block">
            </p>
            <form>
                <div class="form-group">
                    <label for="subscribeInputEmai">                
                        Never missed a deal. Sign up for our newsletter and get exclusive deals straight to your inbox!
                    </label>
                    <div class="input-group">
                        <input type="email" placeholder="Email" class="form-control" id="subscribeInputEmail" aria-describedby="newsletter">
                        <div class="input-group-append">
                            <button class="form-control btn btn-outline-success my-0" type="submit">Signup</button>
                        </div>
                    </div>
                    <small id="newsletter" class="form-text text-muted">*We'll never share your email with anyone else.</small>
                </div>
            </form>
        </div>

        <div class="col-sm-4 text-center footer-section p-2">
            <h5 class="text-capitalise">Site Map</h5>
            <!-- here will go several rows with two columns -->
        </div>

    </div>

    
    <div class="row no-gutters">
        <div class="col-sm-12 text-center">
            <small class="mb-0 d-block">*This site was made purely for assesment purposes and is not a real ecomerce webpage</small>
            <small class="text-muted">
                &copy; 2022 DNLBowers
            </small>
        </div>
  </footer>