#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.completed-orders {
    max-height: 600px;
    overflow-y: auto;
}