@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif !important;
    min-height: 100vh;
}

/* -------------------------------------------------------------- General CSS rules */
.bg-black {
    background-color: #000;
}

.border-red {
    border: 3px solid #dc3545;
}

.border-top-red {
    border-top: 2px solid #dc3545;
}

.border-bottom-red {
    border-bottom: 2px solid #dc3545;
}

.padding-top {
    padding-top: 0.5rem;
}

/* ------------------------------------------------------------------------logo styling */
.logo-letter {
    font-family: 'Damion', cursive;
    text-shadow: 3px 1px 0.5px #000;
    font-size: 2rem;
    color: #dc3545;
}

.bg-logo {
    background-color: #fff59a;
}


/* ------------------------------------------------------------------------- counter styling for number of items in cart  */
.cart-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
}

.counter-container {
    position: relative;
    padding-top: 0.5rem;
}

/* -------------------------------------------------------------- bootstrap toasts/cart preview taken from boutique ado */
.cart-preview-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-preview-wrapper {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------------------------------------- General form styling */
input, textarea {
    color: #000!important;
}

input, select, textarea {
    
    border-radius: 0!important;
    border: 1px solid #000!important;
}

input::placeholder,
select::placeholder {
    color: #aab7c4!important;
}

input:focus, input:active,
select:focus, select:active
textarea:focus, textarea:active {
    box-shadow: 0 1px 3px 0 #000!important;
    -webkit-transition: box-shadow 1000ms ease!important;
    transition: box-shadow 500ms ease!important;
}

.pointer {
    cursor: pointer;
}

/* -------------------------------------------------------------- General button styling */
.btn {
    border-radius: 0!important;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-boarder {
    border: 1px solid #000!important;
    box-shadow: 0 1px 3px 0 #000;
}

.btn-success, .btn-danger {
    text-shadow: 1px 1px #000;
    color: #f8f9fa !important;
}

/* -------------------------------------------------------------- footer styling */
footer {
    margin-top: auto;
}

/* -----------------------------------Mailchimp signup form styling */
#mc_embed_signup{
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;
}

/* -------------------------------------------------------------- Media Queries */
@media screen and (min-width: 404px) {
    .border-red {
        border: 6px solid #dc3545;
    }
}
    
@media screen and (min-width: 992px) {
    .cart-counter {
        top: 2px;
        right: 9px;
    }

    .border-top-red {
        border-top: 4px solid #dc3545;
    }

    .border-bottom-red {
        border-bottom: 4px solid #dc3545;
    }
}


