* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General CSS rules */
.bg-black {
    background-color: #000;
}

.hero-image-container {
    height: 130px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.index-hero-image {
    background: url('/media/landingbanner.jpg') no-repeat center center;
}

/*sets the rules for all hero images and links the keyframe rules to them*/
.hero-animation {
    height: 100%;
    width: 100%;
    background-size: cover;
    animation-name: hero-image-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;    
}

/* creates the level of zoom for hero image */
@keyframes hero-image-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.0);
    }
}

.card {
    min-width: 250px !important;
}


footer {
    margin-top: -175px;
}

.footer-section {
    min-height: 175px;
}

@media (min-width: 375px) {
    .hero-image-container {
        height: 160px;
    }
}

@media (min-width: 450px) {
    .hero-image-container {
        height: 190px;
    }
}

@media (min-width: 560px) {
    .hero-image-container {
        height: 210px;
    }
}

@media (min-width: 600px) {
    .hero-image-container {
        height: 240px;
    }
}

@media (min-width: 690px) {
    .hero-image-container {
        height: 270px;
    }
}

@media (min-width: 800px) {
    .hero-image-container {
        height: 300px;
    }
}

@media (min-width: 840px) {
    .hero-image-container {
        height: 350px;
    }
}

@media (min-width: 980px) {
    .hero-image-container {
        height: 390px;
    }
}

@media (min-width: 1150px) {
    .hero-image-container {
        height: 440px;
    }
}

@media (min-width: 1290px) {
    .hero-image-container {
        height: 500px;
    }
}

@media (min-width: 1290px) {
    .hero-image-container {
        height: 500px;
    }
}

@media (min-width: 1500px) {
    .hero-image-container {
        height: 600px;
        
    }
    .hero-animation {
        max-width: 1841px;
    }
}

