* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General CSS rules */
.font-smaller {
    font-size: smaller!important;
}

footer {
    margin-top: -175px;
}

.footer-section {
    min-height: 175px;
}
