{% extends 'base.html' %}
{% load static %}

{% block head_title %}- Contact Us{% endblock %}

{% block content %}

<main class="container mx-auto my-3">

    <h1 class="text-center text-uppercase mb-4">Contact Us</h1>

    <div class="row mx-auto my-3">

        <!-- Logo with surrounding columns for alighment so to fill the white space -->
        <div class="col-sm-3"></div>

        <div class="col-sm-6 text-center px-2">

            <a class="navbar-brand" href="{% url 'home' %}" aria-label="returns you back to the home page of this site">
                
                <p class="rounded-circle border-red bg-logo text-danger pt-1 pb-2 px-2">

                    <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold ml-2">
                        Vapor
                    </span>

                    <i class="fa-solid fa-city fa-lg text-dark pb-3"></i>
            
                    <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold mr-2">
                        Town
                    </span> 

                </p>

            </a>
            
        </div>
        
        <div class="col-sm-3"></div>
    
    </div>

    <!-- Contact form -->
    <form class="mx-auto" action="{% url 'contact_us' %}" method="POST">

        {% csrf_token %}
        {{form|crispy}}

        <div class="text-center">
            <a href="{% url 'products' %}" class="btn btn-lg btn-outline-dark px-4 mt-3" aria-label="back to the products page">
                <span>
                    <i class="fas fa-chevron-left fa-sm"></i>
                </span>
                Cancel
            </a>
            <button type="submit" class="btn btn-lg btn-warning border border-dark px-4 ml-3 mt-3">Send</button>
        </div>

    </form>

    <div class="text-center mt-2 p-3">

        

    </div>

</main>
{% endblock  %}
