{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main class="container no-gutters mx-auto my-3">

        <div class="row mx-auto my-3">
            
            <div class="col-12 text-center">

                <h1 class="text-uppercase pb-2">Server Error (500)</h1>
                <p>
                    Something when wrong on our end. Please try again later.
                </p>

            </div>

        </div>

        <div class="row mx-auto mb-3">

            <!-- Logo with surrounding columns for alighment so to fill the white space -->
            <div class="col-sm-3"></div>

            <div class="col-sm-6 text-center">

                <p>Click the below image and Head back to the homepage</p>

                <a class="navbar-brand" href="{% url 'home' %}" aria-label="returns you back to the home page of this site">

                    <p class="rounded-circle border-red bg-logo text-danger pt-1 pb-2 px-2">
                        
                        <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold ml-2">
                            Vapor
                        </span>
                
                        <i class="fa-solid fa-city fa-lg text-dark pb-3"></i>
                
                        <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold mr-2">
                            Town
                        </span>  

                    </p>

                </a>

                <p>The party has started, so what you waiting for?</p>
            
            </div>
            
            <div class="col-sm-3"></div>
        
        </div>

    </main>
{% endblock %}