{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<main class="conainer mx-auto my-5">
    <div class="text-center m-3 text-uppercase">
        <h1>{% trans "Account Inactive" %}</h1>
    </div>

    <p class="text-center m-3">{% trans "This account is inactive." %}</p>

    <div class="text-center my-3">
        <a href="{% url 'home' %}" class="btn btn-danger rounded-0">Home</a>
    </div>
</main>
{% endblock %}
