{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<main class="conainer mx-auto my-5">

    <div class="text-center m-3 text-uppercase">
        <h1>{% trans "Confirm E-mail Address" %}</h1>
    </div>
    
    <div class="row mx-auto my-3">

        <!-- Logo with surrounding columns for alighment so to fill the white space -->
        <div class="col-sm-3"></div>
    
        <div class="col-sm-6 text-center px-2">
    
            <a class="navbar-brand" href="{% url 'home' %}" aria-label="returns you back to the home page of this site">
                
                <p class="rounded-circle border-red bg-logo text-danger pt-1 pb-2 px-2">
    
                    <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold ml-2">
                        Vapor
                    </span>
    
                    <i class="fa-solid fa-city fa-lg text-dark pb-3"></i>
            
                    <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold mr-2">
                        Town
                    </span> 
    
                </p>
    
            </a>
        
        </div>
        
        <div class="col-sm-3"></div>
    
    </div>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p class="text-center m-3">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

    <!-- Confirm email form-->
    <form class="m-3" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}

        <div class="text-center my-3">
            <a href="{% url 'home' %}" class="btn btn-lg btn-outline-dark px-4 mt-3">Cancel</a>
            <button class="btn btn-lg btn-warning border border-dark px-4 ml-3 mt-3" type="submit">{% trans 'Confirm' %}</button>
        </div>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p class="text-center m-3">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}
</main>

{% endblock %}
