{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main class="conainer mx-auto my-5">
    <div class="text-center m-3">
        <h2>{% trans "Password Reset" %}</h2>
    </div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="text-right">
        <a href="{% url 'home' %}" class="btn btn-danger rounded-0">Home</a>
    </div>  
    
    <p class="m-3 text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</main>
{% endblock %}
