{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<main class="conainer mx-auto my-5">
    <div class="text-center m-3">
        <h2>{% trans "Set Password" %}</h2>
    </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set m-3">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-right">
            <a href="{% url 'home' %}" class="btn btn-danger rounded-0">Home</a>
            <input class="btn btn-success rounded-0" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </div> 
    </form>
</main>
{% endblock %}
