{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="conainer mx-auto my-5">

    <div class="text-center m-3 text-uppercase">
        <h2>{% trans "Change Password" %}</h2>
    </div>
    
    <p class="mt-3 text-center">{% trans 'Your password is now changed.' %}</p>

    <div class="text-center">
        <a href="{% url 'home' %}" class="btn btn-danger rounded-0 m-3">Home</a>
        <a href="{% url 'account_login' %}" class="btn btn-success rounded-0 m-3">Sign in</a>
    </div> 
</main>
{% endblock %}
