{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="conainer mx-auto my-5">

    <div class="text-center m-3 text-uppercase">
      <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    </div>

    <div class="row mx-auto my-3">

        <!-- Logo with surrounding columns for alighment so to fill the white space -->
        <div class="col-sm-3"></div>
    
        <div class="col-sm-6 text-center px-2">
    
            <a class="navbar-brand" href="{% url 'home' %}" aria-label="returns you back to the home page of this site">
                
                <p class="rounded-circle border-red bg-logo text-danger pt-1 pb-2 px-2">
    
                    <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold ml-2">
                        Vapor
                    </span>
    
                    <i class="fa-solid fa-city fa-lg text-dark pb-3"></i>
            
                    <span class="d-none d-sm-inline p-0 mb-1 logo-letter font-weight-bold mr-2">
                        Town
                    </span> 
    
                </p>
    
            </a>
        
        </div>
        
        <div class="col-sm-3"></div>
    
    </div>

    {% if token_fail %}

        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="mt-3 text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    
    {% else %}
        {% if form %}
    
            <form class="m-3" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <a href="{% url 'home' %}" class="btn btn-lg btn-outline-dark px-4 mt-3">Return to Homepage</a>
                    <input class="btn btn-lg btn-warning border border-dark px-4 ml-3 mt-3" type="submit" name="action" value="{% trans 'change password' %}"/>
                </div>
            </form>
        {% else %}
        
            <p class="mt-3 text-center">{% trans 'Your password is now changed.' %}</p>
        
        {% endif %}
    
    {% endif %}

    <div class="text-center mt-3">
        <p class="mb-0">Had a sudden recollection of the old password? feel free to use it.</p>
        <a href="{% url 'account_login' %}" class="btn btn-lg btn-warning border border-dark px-4 ml-3 mt-3">Sign in</a>
    </div>
    
</main>
{% endblock %}
