{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main class="conainer mx-auto my-5">

    <div class="text-center m-3 text-uppercase">
        <h1>{% trans "Password Reset" %}</h1>
    </div>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="text-center">
        <a href="{% url 'home' %}" class="btn btn-danger rounded-0">Home</a>
    </div>  
    
    <p class="m-3 text-center">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

    <div class="text-center mt-3">
        <p class="mb-0">Had a sudden recollection of the old password? feel free to use it.</p>
        <a href="{% url 'account_login' %}" class="btn btn-success rounded-0 m-3">Sign in</a>
    </div>
</main>
{% endblock %}
