{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="conainer mx-auto my-5">

    <div class="text-center m-3 text-uppercase">
        <h1>{% trans "Change Password" %}</h1>
    </div>
    
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change m-3">

        {% csrf_token %}
        {{ form|crispy }}
        
        <div class="text-center">
            <a href="{% url 'home' %}" class="btn btn-danger rounded-0">Home</a>
            <button class="btn btn-success rounded-0" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>  
        
    </form>
</main>
{% endblock %}
