{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-left">Current Cart Items</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_contents %}
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless table-striped">
                        <caption class="sr-only">Current items in your cart</caption>
                        <thead class="text-center bg-black text-light">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_contents %}

                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0"><strong>Options will be here:</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        form for quantity
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </td>
                                </tr>

                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Shipping: €{{ shipping|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ cart_total|floatformat:2 }}</strong></h4>
                                    {% if free_shipping_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            Spend just <strong>€{{ free_shipping_delta }}</strong> more for free delievery!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% comment %} {% include "bag/checkout-buttons.html" %} {% endcomment %}
                                    check out buttons
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">keep shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}
