{% extends 'base.html' %}
{% load static %}

{% load cart_subtotal_tool %}

{% block content %}
<main class="container my-3">
    
    <div class="row">
    
        <div class="col">
    
            <h2 class="text-left py-3 border-bottom text-uppercase">Current Cart Items</h2>
            
            {% if cart_contents %}
            
                <p>
                    <small>Please review your cart before proceeding to the 

                        <a href="#checkout-access" aria-label="Skip to cart totals and section from where you can proceed to check out page">
                            checkout page
                        </a>

                    <small>
                </p>

            {% endif %}

        </div>

    </div>

    <div class="row">

        <div class="col">

            {% if cart_contents %}

                {% include './includes/components/cart-items-table.html' %}

            {% else %}

                <p class="lead mb-5">Your current cart is empty.</p>
                <div class="text-center">
                    <a href="{% url 'products' %}" class="btn btn-success rounded-0 btn-lg">
                        
                        <span class="icon">
                            <i class="fas fa-chevron-left fa-sm"></i>
                        </span>

                        <span class="text-uppercase">keep shopping</span>

                    </a>
                </div>

            {% endif %}

        </div>

    </div>
    
</main>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/qtySelectorBtns.js' %}"></script>
    {% comment %} {% include 'products/includes/scripts/qty-selector-btn-scripts.html' %} {% endcomment %}
    <script src="{% static 'shopping_cart/js/deleteCartItem.js' %}">
        
        
    </script>
{% endblock %}
