<!doctype html>
<html lang="en">
    <head>
       {% include 'includes/layout/head.html' %}
    </head>
    <body>
        <header class="container-fluid px-0">
            {% include 'includes/components/navbar.html' %}
        </header>
        <div class="d-lg-none py-0 my-0">
            {% include 'includes/components/searchform.html'%}
        </div>
        
        {% block page_header %}
        {% endblock  %}

        {% block content %}
        {% endblock  %}

        {% block postloadjs %}
        {% endblock  %}

    </body>
</html>