{% extends 'base.html' %}

{% block content %}
    {% comment %} <section class="hero-image-container bg-black  border-bottom border-danger">
        <div class="hero-animation index-hero-image mx-auto">
        </div>
        
    </section> {% endcomment %}
    <main class="container no-gutters mx-auto">
            
        <div class="row my-3 no-gutters">
            <div class="card-deck">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-3">
                        {% include "./includes/components/productcard.html" %} 
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "./includes/components/pagination.html" %}    
    </main>
{% endblock %}