{% if messages %}

<div class="cart-preview-container">

    {% for message in messages %}

        {% with message.level as level %}

            {% if level == 40 %}

                {% include 'includes/toasts/toast-error.html' %}

            {% elif level == 30 %}

                {% include 'includes/toasts/toast-warning.html' %}

            {% elif level == 25 %}

                {% include 'includes/toasts/toast-success.html' %}

            {% else %}

                {% include 'includes/toasts/toast-info.html' %}

            {% endif %}

        {% endwith %}

    {% endfor %}

</div>

{% endif %}